---
import type { GetStaticPaths } from "astro";

import { slugify } from "@lib/utils";
import MainLayout from "@layouts/MainLayout.astro";
import PostCard from "@components/PostCard.astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const allPosts = await getCollection("blog");
  // Create an array of all Authors
  const allAuthors = [
    ...new Set(allPosts.map((post) => post.data.author).flat()),
  ];
  // Loop through all Authors array and see if it matches current author param
  return allAuthors.map((author) => {
    const authorPosts = allPosts.filter((post) => post.data.author == author);
    // Return the Params and Props
    return {
      params: { author: slugify(author) },
      props: {
        authorName: author,
        posts: authorPosts,
      },
    };
  });
}) satisfies GetStaticPaths;

const { authorName, posts } = Astro.props;
---

<MainLayout title={authorName} desc={`Posts by ${authorName}`}>
  <section class="container" aria-label={`Posts by ${authorName}`}>
    <h1 class="h1">Posts by <span>{authorName}</span></h1>
    <div class="post-container">
      {posts.map((post) => <PostCard {post} tagType="h3" />)}
    </div>
  </section>
</MainLayout>
