---
import { Image } from "astro:assets";
import { formatDate, slugify } from "@lib/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const { category, title, author, image, pubDate } = post.data;
---

<header>
  <div class="container">
    <small
      ><a href={`/category/${slugify(category)}`} class="badge">{category}</a
      ></small
    >
    <h1 class="h2">{title}</h1>
    <p>
      by <a href={`/author/${slugify(author)}`}>{author}</a> &middot; {
        formatDate(pubDate)
      }
    </p>
  </div><Image
    src={image.src}
    alt={image.alt}
    width="1200"
    height="600"
    format="avif"
    quality={80}
    class="hero-image"
  />
</header>
